.col-menu {
    max-height: 100%;
    overflow-y: auto;
    flex-grow: 0;
    max-width: 300px;
    z-index: 1030;
    transition: width 250ms, flex-basis 250ms;

    @include media-breakpoint-up(lg) {
        flex-basis: 0;
        width: 0;

        &.active {
            flex-basis: 300px;
            width: 300px;
        }
    }

    @include media-breakpoint-down(md) {
        position: absolute;
        left: 0;
        top: 103px;
        bottom: 100px;
        z-index: 2000;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 250ms, opacity 1ms linear 250ms;

        &.active {
            opacity: 1;
            transform: translateX(0);
            transition: transform 250ms, opacity 1ms linear;
        }
    }

    .nav {
        background-color: $primary-dark;
    }
}
