.col-right {
    max-height: 100%;
    overflow-y: auto;
    flex-grow: 0;
    flex-basis: 300px;
    width: 300px;
    max-width: 300px;

    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}
